################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/~$GitHubVSTemp$~/v14/.suo
/LibraryService.REST/.vs
/LibraryService.REST/LibraryService.REST/bin
/LibraryService.REST/LibraryService.REST/obj/Debug
/LibraryService.REST/LibraryService.REST.Tests/bin/Debug
/LibraryService.REST/LibraryService.REST.Tests/obj/Debug
/LibraryService.REST/packages
/StaticLibraryService.REST/.vs
/StaticLibraryService.REST/packages
/StaticLibraryService.REST/StaticLibraryService.REST/bin
/StaticLibraryService.REST/StaticLibraryService.REST/obj/Debug
/StaticLibraryService.REST/Visual Studio 2015/Visualizers
